.Pagination{
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 80px;
}

.Page_item a{
  list-style: none;
  background-color: #616161;
  font-size: 20px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
}

.Page_item {
  list-style: none;
  font-size: 20px;
  /* padding: 5px 15px; */
  border-radius: 5px;
}

.Page_link{
  color: #fff;
  text-decoration: none;
}

.Page_item:active{
  color: black;
  background: #fff;
}

 
