.header{
  display: flex;
  padding: 20px;
  background-color: #E9EDF2;
  align-items: center;
  justify-content: space-between;
}
.heading h1{
  margin: 0;
  color: #2e435c;
  font-weight: 500;
}
.search{
  background-color: white;
  border-radius: 40px;
  padding: 10px 20px;
}
.search input{
 font-size: 15px;
 /* color: lightgray; */
 background-color:azure;
 border-radius: 20px;
 padding: 10px 15px;
 border: none;

}
.container{
  max-width: 1100px;
  margin-top: 50px;
 

  }
  
.tablesec th{
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #2e435c !important;
}
.tablesec td{
  text-align: center;
}
.addbtn .btnmodal{
  background-color: #2e435c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 400;
  width: 160px;
  
}
.addbtn{
  padding: 20px;

  
}

.rowsec{
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}
.rowsec span{
  color: red;
}
.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}
.modal-content{
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.947);
  border-radius: 30px;
  padding: 15px;
  border: none;
  
  
}
.modal-header{
  border-bottom: none !important;
}
.modal-footer{
  border-top: none !important;
}

.btns{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.btns .editbtn{
  color:white;
  background-color: green;
  padding: 5px 20px;
  border: none;
  border-radius: 3px;
}
.deletebtn{
  background-color: #dc3545;
  padding: 8px 25px;
  color: white;
  border: none;
  border-radius: 5px;

}
.contactlist{
  background-color: #616161;
}
.modal-footer .cancelbtn{
  background-color:#f8f9fa ;
  border: none;
  border-radius: 3px;
  color: black;
  padding: 5px 25px;
  

}
.modal-footer .dltbtn{
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
}
.modal-body p{
  color: #2e435c;
  font-size: 20px;
}
.modal-title h3{
  color: #2e435c;
}
/* =======================EDIT============================ */

.editlist{
  background-color: #2e435c;
  padding: 50px 80px;
  display: flex;
  justify-content: center;

}
.inputsection{
  width: 500px;
  padding:40px 30px;
  background-color: #E9EDF2;
  border-radius: 20px;
  
  
}
.inputsection h3{
  color:indianred;
}
.inputsection .inpput{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inpput span{
  color: red;
}
.editbtns{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
}

.editbtns .closebtns{
  padding: 8px 10px;
  background-color: aliceblue;
  border-radius: 3px;
  cursor: pointer;

}
.editbtns .editbtn{
  padding: 8px 15px;
  background-color: blue;
  border-radius: 5px;
  color: white;
}


